/* Kingdom Hearts */

table.navbox.KH1 th {
	background-color:#000080 !important;
	color: white;
}

table.navbox.KH1 .titrePalette .titreContent a {
    color: white;
}

table.navbox.KH1 .collapseButtonLink {
	color: white !important;
}

table.navbox.KH1 th:not(.titrePalette),
.KH1 .group {
	background-color:#D9D9F7!important;
	color: black;
}

table.navbox.KH1 th:not(.titrePalette),
.KH1 .group a{
	color: black;
}

table.navbox.KH1 tr td {
	background-color:#F9F9F9;
}

table.navbox.KH1 tr:nth-child(odd) td {
	background-color:#E8E8FA;
}

/* Kingdom Hearts: Final Mix */

table.navbox.FM1 th {
	background-color:#6495ED !important;
	color: white;
}

table.navbox.FM1 .titrePalette .titreContent a {
    color: white;
}

table.navbox.FM1 .collapseButtonLink {
	color: white !important;
}

table.navbox.FM1 th:not(.titrePalette),
.FM1 .group {
	background-color:#DBE6F9!important;
	color: black;
}

table.navbox.FM1 th:not(.titrePalette),
.FM1 .group a{
	color: black;
}

table.navbox.FM1 tr td {
	background-color:#F9F9F9;
}

table.navbox.FM1 tr:nth-child(odd) td {
	background-color:#E6EEFB;
}

/* Kingdom Hearts: Chain of Memories */

table.navbox.COM th {
	background-color:#A9A9A9 !important;
	color: white;
}

table.navbox.COM .titrePalette .titreContent a {
    color: white;
}

table.navbox.COM .collapseButtonLink {
	color: white !important;
}

table.navbox.COM th:not(.titrePalette),
.COM .group {
	background-color:#DDDDDD!important;
	color: black;
}

table.navbox.COM th:not(.titrePalette),
.COM .group a{
	color: black;
}

table.navbox.COM tr td {
	background-color:#F9F9F9;
}

table.navbox.COM tr:nth-child(odd) td {
	background-color:#E4E4E4;
}

/* Kingdom Hearts II */

table.navbox.KH2 th {
	background-color:#4682B4 !important;
	color: white;
}

table.navbox.KH2 .titrePalette .titreContent a {
    color: white;
}

table.navbox.KH2 .collapseButtonLink {
	color: white !important;
}

table.navbox.KH2 th:not(.titrePalette),
.KH2 .group {
	background-color:#D2E1F1!important;
	color: black;
}

table.navbox.KH2 th:not(.titrePalette),
.KH2 .group a{
	color: black;
}

table.navbox.KH2 tr td {
	background-color:#F9F9F9;
}

table.navbox.KH2 tr:nth-child(odd) td {
	background-color:#E0EAF5;
}

/* Kingdom Hearts II: Final Mix */

table.navbox.FM2 th {
	background-color:#C0C0C0 !important;
	color: white;
}

table.navbox.FM2 .titrePalette .titreContent a {
    color: white;
}

table.navbox.FM2 .collapseButtonLink {
	color: white !important;
}

table.navbox.FM2 th:not(.titrePalette),
.FM2 .group {
	background-color:#E0E0E0!important;
	color: black;
}

table.navbox.FM2 th:not(.titrePalette),
.FM2 .group a{
	color: black;
}

table.navbox.FM2 tr td {
	background-color:#F9F9F9;
}

table.navbox.FM2 tr:nth-child(odd) td {
	background-color:#E9E9E9;
}

/* Kingdom Hearts: 358/2 Days */

table.navbox.Days th {
	background-color:#B22222 !important;
	color: white;
}

table.navbox.Days .titrePalette .titreContent a {
    color: white;
}

table.navbox.Days .collapseButtonLink {
	color: white !important;
}

table.navbox.Days th:not(.titrePalette),
.Days .group {
	background-color:#F9E0E0!important;
	color: black;
}

table.navbox.Days th:not(.titrePalette),
.Days .group a{
	color: black;
}

table.navbox.Days tr td {
	background-color:#F9F9F9;
}

table.navbox.Days tr:nth-child(odd) td {
	background-color:#FAECEC;
}

/* Birth by Sleep */

table.navbox.BBS th {
	background-color:#7EB6F2 !important;
	color: white;
}

table.navbox.BBS .titrePalette .titreContent a {
    color: white;
}

table.navbox.BBS .collapseButtonLink {
	color: white !important;
}

table.navbox.BBS th:not(.titrePalette),
.BBS .group {
	background-color:#D7E8F4!important;
	color: black;
}

table.navbox.BBS th:not(.titrePalette),
.BBS .group a{
	color: black;
}

table.navbox.BBS tr td {
	background-color:#F9F9F9;
}

table.navbox.BBS tr:nth-child(odd) td {
	background-color:#DFEDF6;
}

/* Kingdom Hearts: Birth by Sleep Final Mix */

table.navbox.BBSFM th {
	background-color:#34526D !important;
	color: white;
}

table.navbox.BBSFM .titrePalette .titreContent a {
    color: white;
}

table.navbox.BBSFM .collapseButtonLink {
	color: white !important;
}

table.navbox.BBSFM th:not(.titrePalette),
.BBSFM .group {
	background-color:#C9D9E5!important;
	color: black;
}

table.navbox.BBSFM th:not(.titrePalette),
.BBSFM .group a{
	color: black;
}

table.navbox.BBSFM tr td {
	background-color:#F9F9F9;
}

table.navbox.BBSFM tr:nth-child(odd) td {
	background-color:#DFE8EF;
}

/* Kingdom Hearts: coded */

table.navbox.Coded th {
	background-color:#FFFF00 !important;
	color: black;
}

table.navbox.Coded .titrePalette .titreContent a {
    color: black;
}

table.navbox.Coded .collapseButtonLink {
	color: black !important;
}

table.navbox.Coded th:not(.titrePalette),
.Coded .group {
	background-color:#F9F9DB!important;
	color: black;
}

table.navbox.Coded th:not(.titrePalette),
.Coded .group a{
	color: black;
}

table.navbox.Coded tr td {
	background-color:#FFFFFF;
}

table.navbox.Coded tr:nth-child(odd) td {
	background-color:#FBFBE6;
}

/* Kingdom Hearts 3D: Dream Drop Distance */

table.navbox.DDD th {
	background-color:#4B0082 !important;
	color: white;
}

table.navbox.DDD .titrePalette .titreContent a {
    color: white;
}

table.navbox.DDD .collapseButtonLink {
	color: white !important;
}

table.navbox.DDD th:not(.titrePalette),
.DDD .group {
	background-color:#EDDBF9!important;
	color: black;
}

table.navbox.DDD th:not(.titrePalette),
.DDD .group a{
	color: black;
}

table.navbox.DDD tr td {
	background-color:#F9F9F9;
}

table.navbox.DDD tr:nth-child(odd) td {
	background-color:#F2E6FB;
}

/* Kingdom Hearts χ [chi] */

table.navbox.CHI th {
	background-color:#00CC88 !important;
	color: white;
}

table.navbox.CHI .titrePalette .titreContent a {
    color: white;
}

table.navbox.CHI .collapseButtonLink {
	color: white !important;
}

table.navbox.CHI th:not(.titrePalette),
.CHI .group {
	background-color:#C9E5DC!important;
	color: black;
}

table.navbox.CHI th:not(.titrePalette),
.CHI .group a{
	color: black;
}

table.navbox.CHI tr td {
	background-color:#F9F9F9;
}

table.navbox.CHI tr:nth-child(odd) td {
	background-color:#DFEFEA;
}

/* Kingdom Hearts: Union χ [cross] */

table.navbox.UCR th {
	background-color:#808482 !important;
	color: white;
}

table.navbox.UCR .titrePalette .titreContent a {
    color: white;
}

table.navbox.UCR .collapseButtonLink {
	color: white !important;
}

table.navbox.UCR th:not(.titrePalette),
.UCR .group {
	background-color:#D0D0D0!important;
	color: black;
}

table.navbox.UCR th:not(.titrePalette),
.UCR .group a{
	color: black;
}

table.navbox.UCR tr td {
	background-color:#F9F9F9;
}

table.navbox.UCR tr:nth-child(odd) td {
	background-color:#E1E1E1;
}

/* Kingdom Hearts: HD 2.8 Final Chapter Prologue */

table.navbox.KH2_8 th {
	background-color:#c62870 !important;
	color: white;
}

table.navbox.KH2_8 .titrePalette .titreContent a {
    color: white;
}

table.navbox.KH2_8 .collapseButtonLink {
	color: white !important;
}

table.navbox.KH2_8 th:not(.titrePalette),
.KH2_8 .group {
	background-color:#6d6d6d!important;
	color: white;
}

table.navbox.KH2_8 th:not(.titrePalette),
.KH2_8 .group a{
	color: white;
}

table.navbox.KH2_8 tr td {
	background-color:#F9F9F9;
}

table.navbox.KH2_8 tr:nth-child(odd) td {
	background-color:#e5c9d6;
}

/* Kingdom Hearts III */

table.navbox.KH3 th {
	background-color:#67698A !important;
	color: white;
}

table.navbox.KH3 .titrePalette .titreContent a {
    color: white;
}

table.navbox.KH3 .collapseButtonLink {
	color: white !important;
}

table.navbox.KH3 th:not(.titrePalette),
.KH3 .group {
	background-color:#C9CBE5!important;
	color: black;
}

table.navbox.KH3 th:not(.titrePalette),
.KH3 .group a{
	color: black;
}

table.navbox.KH3 tr td {
	background-color:#F9F9F9;
}

table.navbox.KH3 tr:nth-child(odd) td {
	background-color:#DFE0EF;
}

/* Série KH */

table.navbox.serieKH th {
	background-color:#FFFF00 !important;
	color: steelblue;
}

table.navbox.serieKH .titrePalette .titreContent a {
    color: steelblue;
}

table.navbox.serieKH .collapseButtonLink {
	color: steelblue !important;
}

table.navbox.serieKH th:not(.titrePalette),
.serieKH .group {
	background-color:#fdf34f!important;
	color: steelblue;
}

table.navbox.serieKH th:not(.titrePalette),
.serieKH .group a{
	color: steelblue;
}

table.navbox.serieKH tr td {
	background-color:#FFFFFF;
}

table.navbox.serieKH tr:nth-child(odd) td {
	background-color:#fdfc94;
}

/* Armes */

table.navbox.Armes th {
	background-color:#FF6666 !important;
	color: white;
}

table.navbox.Armes .titrePalette .titreContent a {
    color: white;
}

table.navbox.Armes .collapseButtonLink {
	color: white !important;
}

table.navbox.Armes th:not(.titrePalette),
.Armes .group {
	background-color:#FFCCCD!important;
	color: black;
}

table.navbox.Armes th:not(.titrePalette),
.Armes .group a{
	color: black;
}

table.navbox.Armes tr td {
	background-color:#FFFFFF;
}

table.navbox.Armes tr:nth-child(odd) td {
	background-color:#F7DCDC;
}

/* Keyblades */

table.navbox.Keyblade th {
	background-color:#000080 !important;
	color: white;
}

table.navbox.Keyblade .titrePalette .titreContent a {
    color: white;
}

table.navbox.Keyblade .collapseButtonLink {
	color: white !important;
}

table.navbox.Keyblade th:not(.titrePalette),
.Keyblade .group {
	background-color:gold!important;
	color: black;
}

table.navbox.Keyblade th:not(.titrePalette),
.Keyblade .group a{
	color: black;
}

table.navbox.Keyblade tr td {
	background-color:#FFFFFF;
}

table.navbox.Keyblade tr:nth-child(odd) td {
	background-color:#E6E6EF;
}

/* Sceptre */

table.navbox.Sceptre th {
	background-color:#0c72cc !important;
	color: white;
}

table.navbox.Sceptre .titrePalette .titreContent a {
    color: white;
}

table.navbox.Sceptre .collapseButtonLink {
	color: white !important;
}

table.navbox.Sceptre th:not(.titrePalette),
.Sceptre .group {
	background-color:gold!important;
	color: black;
}

table.navbox.Sceptre th:not(.titrePalette),
.Sceptre .group a{
	color: black;
}

table.navbox.Sceptre tr td {
	background-color:#0c72cc;
}

table.navbox.Sceptre tr:nth-child(odd) td {
	background-color:#DAE2EA;
}

/* Bouclier */

table.navbox.Bouclier th {
	background-color:#0c0 !important;
	color: white;
}

table.navbox.Bouclier .titrePalette .titreContent a {
    color: white;
}

table.navbox.Bouclier .collapseButtonLink {
	color: white !important;
}

table.navbox.Bouclier th:not(.titrePalette),
.Bouclier .group {
	background-color:gold!important;
	color: black;
}

table.navbox.Bouclier th:not(.titrePalette),
.Bouclier .group a{
	color: black;
}

table.navbox.Bouclier tr td {
	background-color:#FFFFFF;
}

table.navbox.Bouclier tr:nth-child(odd) td {
	background-color:#dfd;
}

/* Armures */

table.navbox.Armure th {
	background-color:#FFE000 !important;
	color: black;
}

table.navbox.Armure .titrePalette .titreContent a {
    color: black;
}

table.navbox.Armure .collapseButtonLink {
	color: black !important;
}

table.navbox.Armure th:not(.titrePalette),
.Armure .group {
	background-color:#FFFF00!important;
	color: black;
}

table.navbox.Armure th:not(.titrePalette),
.Armure .group a{
	color: black;
}

table.navbox.Armure tr td {
	background-color:#FFFFFF;
}

table.navbox.Armure tr:nth-child(odd) td {
	background-color:#FFF8C9;
}

/* Accessoires */

table.navbox.Accessoire th {
	background-color:#0ac !important;
	color: white;
}

table.navbox.Accessoire .titrePalette .titreContent a {
    color: white;
}

table.navbox.Accessoire .collapseButtonLink {
	color: white !important;
}

table.navbox.Accessoire th:not(.titrePalette),
.Accessoire .group {
	background-color:#2bd!important;
	color: black;
}

table.navbox.Accessoire th:not(.titrePalette),
.Accessoire .group a{
	color: black;
}

table.navbox.Accessoire tr td {
	background-color:#FFFFFF;
}

table.navbox.Accessoire tr:nth-child(odd) td {
	background-color:#def;
}

/* Objets */

table.navbox.Objet th {
	background-color:darkgreen !important;
	color: white;
}

table.navbox.Objet .titrePalette .titreContent a {
    color: white;
}

table.navbox.Objet .collapseButtonLink {
	color: white !important;
}

table.navbox.Objet th:not(.titrePalette),
.Objet .group {
	background-color:forestgreen!important;
	color: white;
}

table.navbox.Objet th:not(.titrePalette),
.Objet .group a{
	color: white;
}

table.navbox.Objet tr td {
	background-color:#FFFFFF;
}

table.navbox.Objet tr:nth-child(odd) td {
	background-color:#ccffe5;
}

/* Synthèse */

table.navbox.Synthese th {
	background-color:#FF0000 !important;
	color: white;
}

table.navbox.Synthese .titrePalette .titreContent a {
    color: white;
}

table.navbox.Synthese .collapseButtonLink {
	color: white !important;
}

table.navbox.Synthese th:not(.titrePalette),
.Synthese .group {
	background-color:#FA8072!important;
	color: black;
}

table.navbox.Synthese th:not(.titrePalette),
.Synthese .group a{
	color: black;
}

table.navbox.Synthese tr td {
	background-color:#FFFFFF;
}

table.navbox.Synthese tr:nth-child(odd) td {
	background-color:#FDF5E6;
}

/* Magies */

table.navbox.magie th {
	background-color:#007BA7 !important;
	color: white;
}

table.navbox.magie .titrePalette .titreContent a {
    color: white;
}

table.navbox.magie .collapseButtonLink {
	color: white !important;
}

table.navbox.magie th:not(.titrePalette),
.magie .group {
	background-color:#C7DDE5!important;
	color: black;
}

table.navbox.magie th:not(.titrePalette),
.magie .group a{
	color: black;
}

table.navbox.magie tr td {
	background-color:#FFFFFF;
}

table.navbox.magie tr:nth-child(odd) td {
	background-color:#E6EFF2;
}

/* Sans-cœur */

table.navbox.SansCoeur th {
	background-color:black !important;
	color: white;
}

table.navbox.SansCoeur .titrePalette .titreContent a {
    color: white;
}

table.navbox.SansCoeur .collapseButtonLink {
	color: white !important;
}

table.navbox.SansCoeur th:not(.titrePalette),
.SansCoeur .group {
	background-color:#8c0000!important;
	color: white;
}

table.navbox.SansCoeur th:not(.titrePalette),
.SansCoeur .group a{
	color: white;
}

table.navbox.SansCoeur tr td {
	background-color:#FFFFFF;
}

table.navbox.SansCoeur tr:nth-child(odd) td {
	background-color:#EDDEDE;
}

/* Simili */

table.navbox.Simili th {
	background-color:darkgrey !important;
	color: white;
}

table.navbox.Simili .titrePalette .titreContent a {
    color: white;
}

table.navbox.Simili .collapseButtonLink {
	color: white !important;
}

table.navbox.Simili th:not(.titrePalette),
.Simili .group {
	background-color:gray!important;
	color: white;
}

table.navbox.Simili th:not(.titrePalette),
.Simili .group a{
	color: white;
}

table.navbox.Simili tr td {
	background-color:#FFFFFF;
}

table.navbox.Simili tr:nth-child(odd) td {
	background-color:#C0C0C0;
}

/* Nescients */

table.navbox.Nescient th {
	background-color:#000a7a !important;
	color: white;
}

table.navbox.Nescient .titrePalette .titreContent a {
    color: white;
}

table.navbox.Nescient .collapseButtonLink {
	color: white !important;
}

table.navbox.Nescient th:not(.titrePalette),
.Nescient .group {
	background-color:cornflowerblue!important;
	color: white;
}

table.navbox.Nescient th:not(.titrePalette),
.Nescient .group a{
	color: white;
}

table.navbox.Nescient tr td {
	background-color:#FFFFFF;
}

table.navbox.Nescient tr:nth-child(odd) td {
	background-color:#DCE2ED;
}

/* Avale-Rêves */

table.navbox.AvaleReves th {
	background-color:#DA70D6 !important;
	color: white;
}

table.navbox.AvaleReves .titrePalette .titreContent a {
    color: white;
}

table.navbox.AvaleReves .collapseButtonLink {
	color: white !important;
}

table.navbox.AvaleReves th:not(.titrePalette),
.AvaleReves .group {
	background-color:#88FFEA!important;
	color: black;
}

table.navbox.AvaleReves th:not(.titrePalette),
.AvaleReves .group a{
	color: black;
}

table.navbox.AvaleReves tr td {
	background-color:#FFFFFF;
}

table.navbox.AvaleReves tr:nth-child(odd) td {
	background-color:#DCEDEA;
}

/* Boss */

table.navbox.Boss th {
	background-color:#990000 !important;
	color: white;
}

table.navbox.Boss .titrePalette .titreContent a {
    color: white;
}

table.navbox.Boss .collapseButtonLink {
	color: white !important;
}

table.navbox.Boss th:not(.titrePalette),
.Boss .group {
	background-color:#CC6633!important;
	color: black;
}

table.navbox.Boss th:not(.titrePalette),
.Boss .group a{
	color: black;
}

table.navbox.Boss tr td {
	background-color:#FFFFFF;
}

table.navbox.Boss tr:nth-child(odd) td {
	background-color:#FFDD88;
}

/* Xemnas */

table.navbox.Xemnas th {
	background-color:#333333 !important;
	color: white;
}

table.navbox.Xemnas .titrePalette .titreContent a {
    color: white;
}

table.navbox.Xemnas .collapseButtonLink {
	color: white !important;
}

table.navbox.Xemnas th:not(.titrePalette),
.Xemnas .group {
	background-color:#666666!important;
	color: white;
}

table.navbox.Xemnas th:not(.titrePalette),
.Xemnas .group a{
	color: white;
}

table.navbox.Xemnas tr td {
	background-color:#FFFFFF;
}

table.navbox.Xemnas tr:nth-child(odd) td {
	background-color:#DDDDDD;
}

/* Xigbar */

table.navbox.Xigbar th {
	background-color:#660066 !important;
	color: white;
}

table.navbox.Xigbar .titrePalette .titreContent a {
    color: white;
}

table.navbox.Xigbar .collapseButtonLink {
	color: white !important;
}

table.navbox.Xigbar th:not(.titrePalette),
.Xigbar .group {
	background-color:#991199!important;
	color: white;
}

table.navbox.Xigbar th:not(.titrePalette),
.Xigbar .group a{
	color: white;
}

table.navbox.Xigbar tr td {
	background-color:#FFFFFF;
}

table.navbox.Xigbar tr:nth-child(odd) td {
	background-color:#EFDEEF;
}

/* Xaldin */

table.navbox.Xaldin th {
	background-color:#3300FF !important;
	color: white;
}

table.navbox.Xaldin .titrePalette .titreContent a {
    color: white;
}

table.navbox.Xaldin .collapseButtonLink {
	color: white !important;
}

table.navbox.Xaldin th:not(.titrePalette),
.Xaldin .group {
	background-color:#997FFF!important;
	color: black;
}

table.navbox.Xaldin th:not(.titrePalette),
.Xaldin .group a{
	color: black;
}

table.navbox.Xaldin tr td {
	background-color:#FFFFFF;
}

table.navbox.Xaldin tr:nth-child(odd) td {
	background-color:#DCD7EF;
}

/* Vexen */

table.navbox.Vexen th {
	background-color:#33CCFF !important;
	color: white;
}

table.navbox.Vexen .titrePalette .titreContent a {
    color: white;
}

table.navbox.Vexen .collapseButtonLink {
	color: white !important;
}

table.navbox.Vexen th:not(.titrePalette),
.Vexen .group {
	background-color:#7FDFFF!important;
	color: black;
}

table.navbox.Vexen th:not(.titrePalette),
.Vexen .group a{
	color: black;
}

table.navbox.Vexen tr td {
	background-color:#FFFFFF;
}

table.navbox.Vexen tr:nth-child(odd) td {
	background-color:#D7E9EF;
}

/* Lexaeus */

table.navbox.Lexaeus th {
	background-color:#663300 !important;
	color: white;
}

table.navbox.Lexaeus .titrePalette .titreContent a {
    color: white;
}

table.navbox.Lexaeus .collapseButtonLink {
	color: white !important;
}

table.navbox.Lexaeus th:not(.titrePalette),
.Lexaeus .group {
	background-color:#99724C!important;
	color: white;
}

table.navbox.Lexaeus th:not(.titrePalette),
.Lexaeus .group a{
	color: white;
}

table.navbox.Lexaeus tr td {
	background-color:#FFFFFF;
}

table.navbox.Lexaeus tr:nth-child(odd) td {
	background-color:#F2E0CD;
}

/* Zexion */

table.navbox.Zexion th {
	background-color:#333366 !important;
	color: white;
}

table.navbox.Zexion .titrePalette .titreContent a {
    color: white;
}

table.navbox.Zexion .collapseButtonLink {
	color: white !important;
}

table.navbox.Zexion th:not(.titrePalette),
.Zexion .group {
	background-color:#8888AA!important;
	color: white;
}

table.navbox.Zexion th:not(.titrePalette),
.Zexion .group a{
	color: white;
}

table.navbox.Zexion tr td {
	background-color:#FFFFFF;
}

table.navbox.Zexion tr:nth-child(odd) td {
	background-color:#EDEDF8;
}

/* Saïx */

table.navbox.Saix th {
	background-color:#336699 !important;
	color: white;
}

table.navbox.Saix .titrePalette .titreContent a {
    color: white;
}

table.navbox.Saix .collapseButtonLink {
	color: white !important;
}

table.navbox.Saix th:not(.titrePalette),
.Saix .group {
	background-color:#7FBFFF!important;
	color: black;
}

table.navbox.Saix th:not(.titrePalette),
.Saix .group a{
	color: black;
}

table.navbox.Saix tr td {
	background-color:#FFFFFF;
}

table.navbox.Saix tr:nth-child(odd) td {
	background-color:#D7E6F4;
}

/* Axel */

table.navbox.Axel th {
	background-color:#CC0000 !important;
	color: white;
}

table.navbox.Axel .titrePalette .titreContent a {
    color: white;
}

table.navbox.Axel .collapseButtonLink {
	color: white !important;
}

table.navbox.Axel th:not(.titrePalette),
.Axel .group {
	background-color:#EE0000!important;
	color: white;
}

table.navbox.Axel th:not(.titrePalette),
.Axel .group a{
	color: white;
}

table.navbox.Axel tr td {
	background-color:#FFFFFF;
}

table.navbox.Axel tr:nth-child(odd) td {
	background-color:#F8EDED;
}

/* Demyx */

table.navbox.Demyx th {
	background-color:#3399CC !important;
	color: white;
}

table.navbox.Demyx .titrePalette .titreContent a {
    color: white;
}

table.navbox.Demyx .collapseButtonLink {
	color: white !important;
}

table.navbox.Demyx th:not(.titrePalette),
.Demyx .group {
	background-color:#99DCFF!important;
	color: black;
}

table.navbox.Demyx th:not(.titrePalette),
.Demyx .group a{
	color: black;
}

table.navbox.Demyx tr td {
	background-color:#FFFFFF;
}

table.navbox.Demyx tr:nth-child(odd) td {
	background-color:#CDE7F4;
}

/* Luxord */

table.navbox.Luxord th {
	background-color:#CCCCCC !important;
	color: black;
}

table.navbox.Luxord .titrePalette .titreContent a {
    color: black;
}

table.navbox.Luxord .collapseButtonLink {
	color: black !important;
}

table.navbox.Luxord th:not(.titrePalette),
.Luxord .group {
	background-color:#DEDEDE!important;
	color: black;
}

table.navbox.Luxord th:not(.titrePalette),
.Luxord .group a{
	color: black;
}

table.navbox.Luxord tr td {
	background-color:#FFFFFF;
}

table.navbox.Luxord tr:nth-child(odd) td {
	background-color:#EDEDED;
}

/* Marluxia */

table.navbox.Marluxia th {
	background-color:#E68FAC !important;
	color: black;
}

table.navbox.Marluxia .titrePalette .titreContent a {
    color: black;
}

table.navbox.Marluxia .collapseButtonLink {
	color: black !important;
}

table.navbox.Marluxia th:not(.titrePalette),
.Marluxia .group {
	background-color:#FF99BA!important;
	color: black;
}

table.navbox.Marluxia th:not(.titrePalette),
.Marluxia .group a{
	color: black;
}

table.navbox.Marluxia tr td {
	background-color:#FFFFFF;
}

table.navbox.Marluxia tr:nth-child(odd) td {
	background-color:#F2DCE3;
}

/* Larxene */

table.navbox.Larxene th {
	background-color:#FEEF61 !important;
	color: black;
}

table.navbox.Larxene .titrePalette .titreContent a {
    color: black;
}

table.navbox.Larxene .collapseButtonLink {
	color: black !important;
}

table.navbox.Larxene th:not(.titrePalette),
.Larxene .group {
	background-color:#FFF499!important;
	color: black;
}

table.navbox.Larxene th:not(.titrePalette),
.Larxene .group a{
	color: black;
}

table.navbox.Larxene tr td {
	background-color:#FFFFFF;
}

table.navbox.Larxene tr:nth-child(odd) td {
	background-color:#FFFCE8;
}

/* Roxas */

table.navbox.Roxas th {
	background-color:#FFCC00 !important;
	color: black;
}

table.navbox.Roxas .titrePalette .titreContent a {
    color: black;
}

table.navbox.Roxas .collapseButtonLink {
	color: black !important;
}

table.navbox.Roxas th:not(.titrePalette),
.Roxas .group {
	background-color:gold!important;
	color: black;
}

table.navbox.Roxas th:not(.titrePalette),
.Roxas .group a{
	color: black;
}

table.navbox.Roxas tr td {
	background-color:#FFFFFF;
}

table.navbox.Roxas tr:nth-child(odd) td {
	background-color:#FFF8DD;
}

/* Xion */

table.navbox.Xion th {
	background-color:#000000 !important;
	color: white;
}

table.navbox.Xion .titrePalette .titreContent a {
    color: white;
}

table.navbox.Xion .collapseButtonLink {
	color: white !important;
}

table.navbox.Xion th:not(.titrePalette),
.Xion .group {
	background-color:#555560!important;
	color: white;
}

table.navbox.Xion th:not(.titrePalette),
.Xion .group a{
	color: white;
}

table.navbox.Xion tr td {
	background-color:#FFFFFF;
}

table.navbox.Xion tr:nth-child(odd) td {
	background-color:#DCDCED;
}

/* Personnages */

table.navbox.Personnages th {
	background-color:#5b58ec !important;
	color: white;
}

table.navbox.Personnages .titrePalette .titreContent a {
    color: white;
}

table.navbox.Personnages .collapseButtonLink {
	color: white !important;
}

table.navbox.Personnages th:not(.titrePalette),
.Personnages .group {
	background-color:#849aed!important;
	color: black;
}

table.navbox.Personnages th:not(.titrePalette),
.Personnages .group a{
	color: black;
}

table.navbox.Personnages tr td {
	background-color:#FFFFFF;
}

table.navbox.Personnages tr:nth-child(odd) td {
	background-color:#E1E4F2;
}

/* Équipe */

table.navbox.Equipe th {
	background-color:lightseagreen !important;
	color: black;
}

table.navbox.Equipe .titrePalette .titreContent a {
    color: black;
}

table.navbox.Equipe .collapseButtonLink {
	color: black !important;
}

table.navbox.Equipe th:not(.titrePalette),
.Equipe .group {
	background-color:mediumaquamarine!important;
	color: black;
}

table.navbox.Equipe th:not(.titrePalette),
.Equipe .group a{
	color: black;
}

table.navbox.Equipe tr td {
	background-color:#FFFFFF;
}

table.navbox.Equipe tr:nth-child(odd) td {
	background-color:#DAEDE6;
}

/* Invocation */

table.navbox.Invocation th {
	background-color:gold !important;
	color: black;
}

table.navbox.Invocation .titrePalette .titreContent a {
    color: black;
}

table.navbox.Invocation .collapseButtonLink {
	color: black !important;
}

table.navbox.Invocation th:not(.titrePalette),
.Invocation .group {
	background-color:#FFE44C!important;
	color: black;
}

table.navbox.Invocation th:not(.titrePalette),
.Invocation .group a{
	color: black;
}

table.navbox.Invocation tr td {
	background-color:#FFFFFF;
}

table.navbox.Invocation tr:nth-child(odd) td {
	background-color:#FFFBE5;
}

/* Final Fantasy */

table.navbox.FF th {
	background-color:#4169E1 !important;
	color: white;
}

table.navbox.FF .titrePalette .titreContent a {
    color: white;
}

table.navbox.FF .collapseButtonLink {
	color: white !important;
}

table.navbox.FF th:not(.titrePalette),
.FF .group {
	background-color:#87CEFA!important;
	color: black;
}

table.navbox.FF th:not(.titrePalette),
.FF .group a{
	color: black;
}

table.navbox.FF tr td {
	background-color:#FFFFFF;
}

table.navbox.FF tr:nth-child(odd) td {
	background-color:#CCD8FF;
}

/* The World Ends With You */

table.navbox.TWEWY th {
	background-color:#003058 !important;
	color: white;
}

table.navbox.TWEWY .titrePalette .titreContent a {
    color: white;
}

table.navbox.TWEWY .collapseButtonLink {
	color: white !important;
}

table.navbox.TWEWY th:not(.titrePalette),
.TWEWY .group {
	background-color:#C3D6E5!important;
	color: black;
}

table.navbox.TWEWY th:not(.titrePalette),
.TWEWY .group a{
	color: black;
}

table.navbox.TWEWY tr td {
	background-color:#FFFFFF;
}

table.navbox.TWEWY tr:nth-child(odd) td {
	background-color:#E3EDF4;
}

/* Disney */

table.navbox.Disney th {
	background-color:blueviolet !important;
	color: white;
}

table.navbox.Disney .titrePalette .titreContent a {
    color: white;
}

table.navbox.Disney .collapseButtonLink {
	color: white !important;
}

table.navbox.Disney th:not(.titrePalette),
.Disney .group {
	background-color:mediumorchid!important;
	color: white;
}

table.navbox.Disney th:not(.titrePalette),
.Disney .group a{
	color: white;
}

table.navbox.Disney tr td {
	background-color:#FFFFFF;
}

table.navbox.Disney tr:nth-child(odd) td {
	background-color:#E9DAED;
}

/* Monde */

table.navbox.Monde th {
	background-color:#7c45aa !important;
	color: white;
}

table.navbox.Monde .titrePalette .titreContent a {
    color: white;
}

table.navbox.Monde .collapseButtonLink {
	color: white !important;
}

table.navbox.Monde th:not(.titrePalette),
.Monde .group {
	background-color:#af8eeb!important;
	color: white;
}

table.navbox.Monde th:not(.titrePalette),
.Monde .group a{
	color: white;
}

table.navbox.Monde tr td {
	background-color:#FFFFFF;
}

table.navbox.Monde tr:nth-child(odd) td {
	background-color:#E3DAED;
}

/* Square Enix */

table.navbox.Square th {
	background-color:black !important;
	color: white;
}

table.navbox.Square .titrePalette .titreContent a {
    color: white;
}

table.navbox.Square .collapseButtonLink {
	color: white !important;
}

table.navbox.Square th:not(.titrePalette),
.Square .group {
	background-color:gray!important;
	color: white;
}

table.navbox.Square th:not(.titrePalette),
.Square .group a{
	color: white;
}

table.navbox.Square tr td {
	background-color:#FFFFFF;
}

table.navbox.Square tr:nth-child(odd) td {
	background-color:lightgray;
}

/* Minijeux */

table.navbox.Minijeux th {
	background-color:#FF4500 !important;
	color: white;
}

table.navbox.Minijeux .titrePalette .titreContent a {
    color: white;
}

table.navbox.Minijeux .collapseButtonLink {
	color: white !important;
}

table.navbox.Minijeux th:not(.titrePalette),
.Minijeux .group {
	background-color:#FF7F50!important;
	color: black;
}

table.navbox.Minijeux th:not(.titrePalette),
.Minijeux .group a{
	color: black;
}

table.navbox.Minijeux tr td {
	background-color:#FFFFFF;
}

table.navbox.Minijeux tr:nth-child(odd) td {
	background-color:#FFDEBA;
}

/* Gummis */

table.navbox.Gummis th {
	background-color:darkorange !important;
	color: white;
}

table.navbox.Gummis .titrePalette .titreContent a {
    color: white;
}

table.navbox.Gummis .collapseButtonLink {
	color: white !important;
}

table.navbox.Gummis th:not(.titrePalette),
.Gummis .group {
	background-color:PaleTurquoise!important;
	color: black;
}

table.navbox.Gummis th:not(.titrePalette),
.Gummis .group a{
	color: black;
}

table.navbox.Gummis tr td {
	background-color:#FFFFFF;
}

table.navbox.Gummis tr:nth-child(odd) td {
	background-color:LightCyan;
}

/* Produits dérivés */

table.navbox.Produits th {
	background-color:#00BA6A !important;
	color: white;
}

table.navbox.Produits .titrePalette .titreContent a {
    color: white;
}

table.navbox.Produits .collapseButtonLink {
	color: white !important;
}

table.navbox.Produits th:not(.titrePalette),
.Produits .group {
	background-color:#00FA9A!important;
	color: black;
}

table.navbox.Produits th:not(.titrePalette),
.Produits .group a{
	color: black;
}

table.navbox.Produits tr td {
	background-color:#FFFFFF;
}

table.navbox.Produits tr:nth-child(odd) td {
	background-color:#B0FFDE;
}

/* Communauté */

table.navbox.Communaute th {
	background-color:midnightblue !important;
	color: white;
}

table.navbox.Communaute .titrePalette .titreContent a {
    color: white;
}

table.navbox.Communaute .collapseButtonLink {
	color: white !important;
}

table.navbox.Communaute th:not(.titrePalette),
.Communaute .group {
	background-color:dodgerblue!important;
	color: white;
}

table.navbox.Communaute th:not(.titrePalette),
.Communaute .group a{
	color: white;
}

table.navbox.Communaute tr td {
	background-color:#FFFFFF;
}

table.navbox.Communaute tr:nth-child(odd) td {
	background-color:#E1F1F7;
}

/* Musiques */

table.navbox.Musique th {
	background-color:#174bdb !important;
	color: black;
}

table.navbox.Musique .titrePalette .titreContent a {
    color: black;
}

table.navbox.Musique .collapseButtonLink {
	color: black !important;
}

table.navbox.Musique th:not(.titrePalette),
.Musique .group {
	background-color:#4e71d5!important;
	color: black;
}

table.navbox.Musique th:not(.titrePalette),
.Musique .group a{
	color: black;
}

table.navbox.Musique tr td {
	background-color:#FFFFFF;
}

table.navbox.Musique tr:nth-child(odd) td {
	background-color:#678beb;
}

